/* GENERAL */

@font-face { 
    font-family: Volter; 
    src: url('Volter__28Goldfish_29.ttf'); 
} 

body {
   background-color: #8fc9fc;
   font-family: Volter;
   font-weight: 500;
   font-size: 125%;
}

box {
   display: inline-block;
   width: 390px;
   height: 239px;
   background-color: whitesmoke;
   border-radius: 15px;
}

p { 
   width: 300px;
   font-size: 90%;
   color: #156bb3;
}

/* VENTANA */

.ventana {
       box-shadow: inset -3px -3px #68A0EF,
                   inset 2px 2px #C2E2FF;
       position: relative;
        left: 45px;
       z-index: 2;
}

span {
    color: #FF9D00;
}

.arael-pres {
   width: 400px;
   position: absolute;
     top: 10px;
     left: 315px;
     z-index: 3;
}

.icon {
 width: 30px;
 height: 20px;
 position: relative;
   bottom: -2px; right: 168px;
}

.barra {
   display: inline-block;
   width: 380px;
   height: 25px;
   background: linear-gradient(#8fc9fc, #7AB4F5);
   margin-top: 7px;
   border-radius: 10px;
}

.titulo {
   font-size: 69%;
   font-weight: bold;
   color: whitesmoke;
   margin: 0;
   position: relative;
    bottom: 18px; right: 80px;
}

.cerrar {
    display: inline-block;
    background-color: #ff9d00;
    width: 30px;
    height: 20px;
    position: absolute;
     top: 10px; left: 348px;
    box-shadow: inset -2px -2px #F56C3C,
               inset 1px 1px #FFBD5A;
}

.equis {
    font-size: 95%;
    color: whitesmoke;
    font-weight: bold;
    position: absolute;
     top: -23px; right: -135px;
}
  
button {
   background-color: #8fc9fc;
   border: 0;
   border-radius: 15px;
   font-family: Volter;
   font-size: medium;
   color: white;
   cursor: pointer;
   padding: 4px;
   box-shadow: inset -2px -2px #68A0EF,
               inset 1px 2px #C2E2FF;
}

button:hover {
    background-color: #FF9D00;
    box-shadow: inset -2px -2px #F56C3C,
               inset 1px 2px #FFBD5A;
}

/* BARRA NAVEGACIÓN */

h {
    color: whitesmoke;
    font-size: 70%;
    float: left;
    margin-left: 7px;
    margin-top: 5px;
}
.nav {
    display: block;
    background: linear-gradient(#156bb3, #065BA7);
    width: 227px;
    height: 25px;
    position: relative;
    bottom: 110px;
    right: 255px;
    margin-bottom: 10px;
    z-index: 1;
}

.nav:hover {
    background: linear-gradient(#ff9d00, #F56C3C); 
    cursor: pointer;
}

.nav:hover {
    background-color: #ff9d00; 
}

/* ÁNGELES EN ADOPCIÓN */

#titulo2 {
    right: 65px;
}

.borde {
    width: 500px;
    height: 400px;
    background-color: #68A0EF;
    box-shadow: inset -3px -3px #3A7ECC,
                   inset 2px 2px #8fc9fc;
    position: relative;
       bottom: 293px; left: 370px;
    z-index: 3;
}

.info {
    width: 260px;
    height: 360px;
    box-shadow: inset 3px 3px #3A7ECC;
    position: relative;
      bottom: 315px; right: 323px;
    z-index: 4;
    
}

#abaddonito {
 background-image: url("Imagenes/abaddon-front.png");
 border: 0px;
    margin-right: 5px;
 width: 200px;
 height: 331px;
    position: relative;
     bottom: 325px; right: 83px;
    z-index: 5;
}

.angel {
    position: relative;
     top: 40px; left: 338px;
    font-weight: bold;
    margin: 0;
}
